.ClientsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  height: 93vh;
  position: fixed;
  width: 40vw;
  font-family: 'Titillium Web', sans-serif;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px; }

::-webkit-scrollbar-track {
  background-color: #c4cdc7;
  border-radius: 20px; }

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #555555; }