.Search{
  display: flex;
  padding-bottom: 5px;
  position: relative;
  & i{
    position: absolute;
    &.fas {
      width: 26px;
      height: 26px;
      line-height: 26px;
      text-align: center;
      right: 30px;
      color: #c4cdc7;
      top: 0.1rem;
    }
  }

  &-input{
    outline: none;
    border-radius: 5px;
    border: 1px solid gainsboro;
    width: 98%;
    padding: 5px;
  }

  &-submit{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #48ba1e;
    background-color: #c4cdc7;
    border: 1px solid gainsboro;
    cursor: pointer;
    outline: none;
  }
}